body {
    width: 400px;
    min-height:100%; height:auto;
}

.chromeTask-item .btn-remove-chromeTask {
    display:none;
}

.chromeTask-item:hover .btn-remove-chromeTask {
    display: block;
}

.chromeTask-item .chromeTask-content {
    font-weight: bold;
    white-space: nowrap;
}
.chromeTask-item.completed .chromeTask-content {
    color:darkgray;
    font-weight: normal;
    text-decoration: line-through;
}

#chromeTask-list {
    margin-bottom: 10px;
}

#btn-remove-all {
    margin-bottom: 10px;
}

md-input-container {
	padding: 0 !important;
}
md-input-container .md-input {
	padding: 1px !important;
